%h1 Search Fantunes
= form_tag({}, :method => :get) do
  Enter the bidding sequence you want to search: (e.g. 1C - 1D - 1N)
  %br
  = text_field_tag :sequence
  = submit_tag 'Search'
- @boards.each do |board|
  %h3= link_to "#{board.event}, Board #{board.number}", "http://www.bridgebase.com/tools/handviewer.html?linurl=#{board.link}", :target => '_blank'
  - hands = board.hands.split(',')
  %table
    %tr
      %td
        = "Board #{board.number}"
        %br
        = dealer(board.number)
        %br
        = vul(board.number)
      %td= print_hand(hands[2])
      %td
    %tr
      %td= print_hand(hands[1])
      %td
      %td= print_hand(hands[3])
    %tr
      %td
      %td= print_hand(hands[0])

  %br
  %table
    %tr
      %td{:width => 100, :align => 'center'} West
      %td{:width => 100, :align => 'center'} North
      %td{:width => 100, :align => 'center'} East
      %td{:width => 100, :align => 'center'} South
    %tr
      - players = board.players.split(',')
      %td{:align => 'center'}= players[1]
      %td{:align => 'center'}= players[2]
      %td{:align => 'center'}= players[3]
      %td{:align => 'center'}= players[0]
    %tr
      - shift = board.number % 4
      - shift.times do
        %td{:align => 'center'}
      - board.auction.split(' ').each_with_index do |bid, n|
        - if (n + shift) % 4 == 0 && n != 0
          %tr
        %td{:align => 'center'}= to_figure(bid)
  %p= board.explanation


