%h1 Search Fantunes

- @boards.each do |board|
  %h3= link_to "#{board.event}, Board #{board.number}", "http://www.bridgebase.com/tools/handviewer.html?linurl=#{board.link}", :target => '_blank'
  %table
    %tr
      %td West
      %td North
      %td East
      %td South
    %tr
      - players = board.players.split(',')
      %td= player[1]
      %td= player[2]
      %td= player[3]
      %td= player[0]
