%h1 Search Fantunes

- @boards.each do |board|
  %h3= link_to "#{board.event}, Board #{board.number}", "http://www.bridgebase.com/tools/handviewer.html?linurl=#{board.link}", :target => '_blank'
  %table
    %tr
      %td{width: 100} West
      %td{width: 100} North
      %td{width: 100} East
      %td{width: 100} South
    %tr
      - players = board.players.split(',')
      %td= players[1]
      %td= players[2]
      %td= players[3]
      %td= players[0]
    %tr
      - shift = board.number % 4
      - shift.times do
        %td
      - board.auction.split(' ').each_with_index do |bid, n|
        - if (n + shift) % 4 == 0 && n != 0
          %tr
        %td= bid


