%h1 Search Fantunes
%p This website is for those who are interested in Fantunes system. You can search for any bidding sequence from the vugraph files of Fantoni and Nunes.
%p by Jonathan, Po-Hsiang Hao, bbo id: johnathan, any advice or suggestions please email johnathan79717@gmail.com
%p pass = '-', double = 'X', redouble = 'XX', bids should be separated with space.
= form_tag({}, :method => :get) do
  %p Enter the bidding sequence you want to search: (e.g. 1C X XX or 1C - 1D - 1N)
  = text_field_tag :sequence
  = submit_tag 'Search'
%p Last update: 2013/04/13, including 2013 Vanderbilt
- @boards.each do |board|
  %h3= link_to "#{board.event}, Board #{board.number}", "http://www.bridgebase.com/tools/handviewer.html?linurl=#{board.link}", :target => '_blank'
  - hands = board.hands.split(',')
  %table
    %tr
      %td
        = "Board #{board.number}"
        %br
        = dealer(board.number)
        %br
        = vul(board.number)
      %td= print_hand(hands[2])
      %td
    %tr
      %td= print_hand(hands[1])
      %td
      %td= print_hand(hands[3])
    %tr
      %td
      %td= print_hand(hands[0])

  %br
  %table
    %tr
      %td{:width => 100, :align => 'center'} West
      %td{:width => 100, :align => 'center'} North
      %td{:width => 100, :align => 'center'} East
      %td{:width => 100, :align => 'center'} South
    %tr
      - players = board.players.split(',')
      %td{:align => 'center'}= players[1]
      %td{:align => 'center'}= players[2]
      %td{:align => 'center'}= players[3]
      %td{:align => 'center'}= players[0]
    %tr
      - shift = board.number % 4
      - shift.times do
        %td{:align => 'center'}
      - board.auction.split(' ').each_with_index do |bid, n|
        - if (n + shift) % 4 == 0 && n != 0
          %tr
        %td{:align => 'center'}= to_figure(bid)
  %p
    - board.explanation.split('\n').each do |item|
      = to_figure(item)
      %br


